asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Django==5.1.5
gunicorn==23.0.0
h11==0.14.0
idna==3.10
packaging==24.2
pillow==11.1.0
razorpay==1.4.2
requests==2.32.3
setuptools==75.8.0
sqlparse==0.5.3
tzdata==2024.2
urllib3==2.3.0
uvicorn==0.34.0
whitenoise==6.8.2
